%segoeui-light {
    font-family: 'SegoeUILight', sans-serif;
    font-style: normal;
    font-weight: normal;
}

%segoeui-regular {
    font-family: 'SegoeUIRegular', sans-serif;
    font-style: normal;
    font-weight: normal;
}

%segoeui-italic {
    font-family: 'SegoeUIItalic', sans-serif;
    font-style: normal;
    font-weight: normal;
}


%segoeui-semibold {
    font-family: 'SegoeUISemiBold', sans-serif;
    font-style: normal;
    font-weight: normal;
}